#include "resource.h"
#include <windows.h>

SPRITEDATA RCDATA diablo_sprites.png

VS_VERSION_INFO VERSIONINFO
//FILEVERSION    	1,0,0,0
//PRODUCTVERSION 	1,0,0,0
FILEVERSION    	1,17,0,0
PRODUCTVERSION 	1,17,0,0
FILEFLAGSMASK  	VS_FF_PRERELEASE
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" /* LANG_ENGLISH/SUBLANG_ENGLISH_US,Unicode CP */
        BEGIN
            VALUE "CompanyName",      "Qndel"
            VALUE "FileDescription",  "Microsoft DirectDraw"
            //VALUE "FileVersion",      "1.0B\0"
			VALUE "FileVersion",      "1.17.0.0"
            VALUE "InternalName",     "ddrawwrapper"
            //VALUE "OriginalFilename", "ddraw.dll"
			VALUE "OriginalFilename", "DDraw.dll"
            VALUE "ProductName",      "InfernityDirectDrawPatch"
	    VALUE "LegalCopyright",   "StrangeBytes.com"
            //VALUE "ProductVersion",   "1.0B\0"
			VALUE "ProductVersion",   "1.17.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x04B0
    END
    END
END